{% extends "index.html" %} 

{% block content %}
<section class="mb-6 table-container">
    <div class="table">
        <h2 class="text-xl mb-2">Doctors Table</h2>
        <table class="table-auto">
            <thead>
                <tr>
                    <th class="px-4 py-2">Doctor ID</th>
                    <th class="px-4 py-2">First Name</th>
                    <th class="px-4 py-2">Last Name</th>
                    <th class="px-4 py-2">Department</th>
                    <th class="px-4 py-2">Phone Number</th>
                </tr>
            </thead>
            <tbody>
                {% for doctor in data2 %}
                <tr>
                    <td class="border px-4 py-2">{{ doctor.doctor_id }}</td>
                    <td class="border px-4 py-2">{{ doctor.first_name }}</td>
                    <td class="border px-4 py-2">{{ doctor.last_name }}</td>
                    <td class="border px-4 py-2">{{ doctor.department }}</td>
                    <td class="border px-4 py-2">{{ doctor.phone_num }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}