{% extends "index.html" %} 

        {% block content %}
            <div class="table">
                <h2 class="text-xl mb-2">Patients Table</h2>
                <table class="table-auto">
                    <thead>
                        <tr>
                            <th class="px-4 py-2">Patient ID</th>
                            <th class="px-4 py-2">First Name</th>
                            <th class="px-4 py-2">Last Name</th>
                            <th class="px-4 py-2">Date of Birth</th>
                            <th class="px-4 py-2">Primary Doctor ID</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for patient in data1 %}
                        <tr>
                            <td class="border px-4 py-2">{{ patient.patient_id }}</td>
                            <td class="border px-4 py-2">{{ patient.first_name }}</td>
                            <td class="border px-4 py-2">{{ patient.last_name }}</td>
                            <td class="border px-4 py-2">{{ patient.date_of_birth }}</td>
                            <td class="border px-4 py-2">{{ patient.primary_doctor_id }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>

        <br/>

        {% endblock %}